[Unit]
Description=Sistema de Control de Acceso Autonomo (GStreamer + OpenCV DNN)
After=network.target

[Service]
WorkingDirectory=/usr/share/control-acceso

# Leer las variables dinamicas
EnvironmentFile=-/etc/default/control-acceso
# Inyectar variables globales necesarias para Python
Environment="PYTHONPATH=/usr/share/control-acceso"
Environment="PYTHONUNBUFFERED=1"

# Esperar 5 segundos al arrancar para que el USB de la camara despierte
ExecStartPre=/bin/sleep 5

# El comando exacto
ExecStart=/usr/bin/python3 -m acceso.main

# Resiliencia total
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=20

# Seguridad
User=root
Group=root

[Install]
WantedBy=multi-user.target
